@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);



:root {
  --color-template-1: #F4DCBC;
  --color-fg: #F4DCBC;
  --color-bg: #1B3248;
  --color-bg-2: #4a4e51;
  --color-bg-3: #9099a0;
  --color-bg-1: #fff;
  --color-right-bg: #4C7395;
}


*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin-top: 0px;
  margin-left: 1vw;
  margin-right: 1vw;
  background-image: url('assets/BG6.jpg');
  background-size: cover; /* Stretches the image to cover the entire view */
  background-position: center; /* Keeps the image centered */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Makes the background image fixed during scroll */
  height: 100vh; /* Sets the height to 100% of the viewport */
  width: 96vw; /* Sets the width to 100% of the viewport */
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: var(--color-fg);
  text-decoration: none;
}

.clearfix::after, .clearfix::before {
  content: " ";
  display: table;
}


.clearfix::after {
  clear: both;
}

.bold {
  color: var(--color-fg);
  font-weight: 400;
}

.resume-wrapper {
  display: block;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8); 
  text-align: center;
  max-width: 95%;
  min-width: 480px;
  min-height: 100vh;
  margin: auto;
}

.container {
  min-height: 600px;

}

.profile {
  
  background: inherit;
  backdrop-filter: blur(12px);
  width: 25%;
  height: 100%;
  float: left;
  color: var(--color-bg-3);
  display: block;
  position: fixed;
}

@media (max-width: 900px) {
  body{
    margin: 0px;
  }

  .profile {
    width: 100%;
    height: fit-content;
    position: relative;
  }
}

.profile .name-wrapper {
  float: center;
  width: 100%;
  padding-top: 10px;
}

.profile h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: var(--color-fg);
  text-transform: uppercase;
  line-height: 1em;
  padding-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .profile h1 {
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  .profile h1 {
    font-size: 1.8em;
    padding-top: 10px;
  }
}

.profile li {
  margin-bottom: 10px;
}

.profile .picture-resume-wrapper {
  width: 100%;
  display: relative;
  float: center;
  margin: auto;
}

@media (max-width: 500px) {
  .profile .picture-resume-wrapper {
    width: 100%;
  }
}

.profile .picture-resume {
  position: relative;
  width: 200px; /* Size of the profile picture */
  height: 200px;
  background: inherit;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .picture-resume img {
  width: 180px; /* Size the image to fill the container */
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 2; /* Keep the image above the animation */
}

.profile .profile-animation {
  position: absolute;
  top: -6%; /* Adjust to center the animation */
  left: -6%;
  width: 220px; /* 1.1x the profile picture size */
  height: 220px;
  z-index: 1; /* Keep the animation behind the image */
}

.profile .st0, .profile .st1 {
  fill: var(--color-fg);
}

.profile .contact-info {
  margin-top: 100px;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .profile .contact-info {
    margin-top: 70px;
  }
}

@media (max-width: 450px) {
  .profile .contact-info {
    margin-top: 50px;
  }
}

.profile .list-titles {
  float: left;
  text-align: left;
  font-weight: 600;
  width: 40%;
  color: var(--color-bg-2);
}

.profile .list-content {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
}

.profile .contact-presentation {
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .profile .contact-presentation {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media (max-width: 850px) {
  .profile .contact-presentation {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.fixed-box {
    margin-top: 100px;
    width: 100%;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item i {
    margin-right: 10px;
    min-width: 30px; /* Adjust as needed to align properly */
    text-align: left;
}

.contact-item span {
    flex-grow: 1;
    text-align: left;
}

.contact-item a {
    text-align: left;
}



.profile svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile .st0, .profile .st1 {
  fill: var(--color-fg);
}

.experience {
  background: var(--color-bg);
  left: 25%;
  width: 75%;
  float: left;
  position: relative;
  color: var(--color-bg-3);
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
}

@media (max-width: 850px) {
  .experience {
    width: 100%;
    left: 0%;
  }
}

.experience h2.experience-title {
  margin-top: 60px;
  color: var(--color-fg);
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

.experience .company-wrapper {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}

.About-me {
    text-align: left;
}

@media (max-width: 450px) {
  .experience .company-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
}
.experience .job-wrapper {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}

@media (max-width: 450px) {
  .experience .job-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}

.experience .experience-title {
  color: var(--color-bg-1);
  margin-bottom: 15px;
}

.section-padding {
  padding: 40px 40px 40px 40px;
}

@media (max-width: 850px) {
  .section-padding {
    padding: 80px 15% 40px 10%;
  }
}

@media (max-width: 450px) {
  .section-padding {
    padding: 40px 10% 20px 5%;
  }
}

.section-wrapper {
  width: 50%;
  float: left;
  text-align: left;
  color: var(--color-bg-3);
  font-weight: 300;
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  .section-wrapper {
    width: 100%;
  }
}

.section-wrapper:nth-child(3) {
  padding-right: 8%;
}

.section-wrapper h2.section-title {
  color: var(--color-fg);
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

.section-wrapper .skill-percentage {
  margin-bottom: 10px;
  position: relative;
}

.section-wrapper .skill-percentage::after {
  content: "";
  width: 100%;
  height: 6px;
  background: var(--color-bg-2);
  display: block;
  margin-top: 3px;
}

.section-wrapper .skill-percentage::before {
  content: "";
  height: 6px;
  background: var(--color-fg);
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}

.section-wrapper .skill-percentage:nth-child(1)::before {
  width: 80%;
  -webkit-animation: skill_1 0.6s ease;
  animation: skill_1 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(2)::before {
  width: 90%;
  -webkit-animation: skill_2 0.6s ease;
  animation: skill_2 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(3)::before {
  width: 50%;
  -webkit-animation: skill_3 0.6s ease;
  animation: skill_3 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(4)::before {
  width: 60%;
  -webkit-animation: skill_4 0.6s ease;
  animation: skill_4 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(5)::before {
  width: 70%;
  -webkit-animation: skill_5 0.6s ease;
  animation: skill_5 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(6)::before {
  width: 70%;
  -webkit-animation: skill_6 0.6s ease;
  animation: skill_6 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(7)::before {
  width: 70%;
  -webkit-animation: skill_6 0.6s ease;
  animation: skill_6 0.6s ease;
}

@-webkit-keyframes skill_1 {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }
  
  @keyframes skill_1 {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }
  
  @-webkit-keyframes skill_2 {
    from {
      width: 0%;
    }
    to {
      width: 90%;
    }
  }
  
  @keyframes skill_2 {
    from {
      width: 0%;
    }
    to {
      width: 90%;
    }
  }
  
  @-webkit-keyframes skill_3 {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }
  
  @keyframes skill_3 {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }
  
  @-webkit-keyframes skill_4 {
    from {
      width: 0%;
    }
    to {
      width: 60%;
    }
  }
  
  @keyframes skill_4 {
    from {
      width: 0%;
    }
    to {
      width: 60%;
    }
  }
 

  .scroll-x {
    max-width: 100%;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scrollbar-color: var(--color-fg) var(--color-bg);
  }
  
  .wrapper {
    --size: clamp(12rem, 1rem + 50vw, 20rem);
    --gutter: 2rem;
    --gap: 0.5rem;
    scroll-snap-type: x mandatory;
    display: grid;
    padding-block: var(--gutter);
    grid-template-columns:
      [full-start] 1fr
      [content-start]
      min(var(--size), 100% - var(--gutter) * 2)
      [content-end]
      1fr [full-end];
  }
  
  .items {
    grid-area: content;
    display: flex;
    gap: var(--gap);
  
    &::after {
      content: "";
      padding-inline-end: max(
        var(--gutter),
        (100vw - var(--size)) / 2 - var(--gutter)
      );
    }
  
    > * {
      display: grid;
      place-content: center;
      flex-shrink: 0;
      inline-size: var(--size);
      aspect-ratio: 4 / 5;
      scroll-snap-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--color-bg-1);
      background-color: var(--color-fg);
      border-radius: 0.5rem;
    }
  }
  
  @supports (animation-timeline: view()) {
    .items > * {
      --scale: 0.9;
      --offset: var(--gap);
      animation: scale linear both, fade linear both;
      animation-timeline: view(inline);
      animation-range: cover 30% cover 70%, cover 5% cover 95%;
    }
  
    @keyframes scale {
      from,
      to {
        scale: var(--scale);
      }
      50% {
        scale: 1;
      }
      from {
        translate: var(--offset) 0;
      }
  
      to {
        translate: calc(var(--offset) * -1) 0;
      }
    }
  
    @keyframes fade {
      from,
      to {
        opacity: 0;
      }
      10%,
      90% {
        opacity: 1;
      }
    }
  }
  



/**************************************************
** CARDS STYLING 
***************************************************/
/* Card outside box. Here is where the 
** dimensions, shadows and borders are set 
------------------------------------------ */
.card{
    position: relative;
    overflow: hidden;
    display: flex;
    
    width: 300px; /* Box dimensions */
    height: 400px; 
    
    border-radius: 4px; /* Styling */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
    transition: box-shadow 0.56s ease-in-out; /* Animation */
    /* background-color: rgba(0,0,0,.2); /* for debugging */
  }
  /* Shows an outer shadow */
  .card:hover{ /* Just for styling */
    cursor: pointer;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  }
  
  /* Cards titles styling
  ------------------------------------------ */
  .card__title{ /* Just for styling */
      align-self: flex-end; padding: 0.5rem;
      color: rgba(255,255,255,.90); font-size: 1rem;
      line-height: 1.5em;
      font-weight: 400; margin: 0px; }  
  
  /* Styles for:
  ** - Using IMG tag inside a container
  ------------------------------------------ */
  /* The image container */
  .card__thumbnail{
    position: relative;
    overflow: hidden;  
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */
    margin: 0;
    width: 100%; /* Thumbnail dimensions. */
    height: 100%; /*** Change the height to make the image smaller ***/
    /* background-color: rgba(0,0,0,.2);  /* for debugging */
    
  }
  /* Sets the image dimensions */
  .card__thumbnail > img{ /* Tip: use 1:1 ratio images */
    height: 100%; /* or width when img.width > img.height */ 
  }  
  /* Styles the title inside the img container */
  .card__thumbnail > .card__title{ /* Just for styling */
    position: absolute;  bottom: 0; 
    z-index: 2;
}


.overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
        display: flex;
        justify-content: center; /* Centers text horizontally */
        align-items: center; /* Centers text vertically */
        color: var(--color-bg-1);
        font-size: 1.5rem;
        text-align: center;
        opacity: 0.6; /* Hidden by default */
        transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}
.card__thumbnail:hover .overlay {
    opacity: 1;
} 